body {
  background-color: rgb(33, 136, 102);
  color: darkslategray;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

header {
  position: sticky;
  top: 0;
  background-color: darkslategray;
  overflow: hidden;
  padding: 5px 0;
}

header nav {
  padding: 0;
  margin: 0;
}

header nav ul {
  display: flex;
  justify-content: center;
  gap: 20px;
  list-style-type: none;
  padding: 0;
  margin: 0;
  gap: 15px;
}

header nav a {
  color: whitesmoke;
  text-decoration: none;
}

header nav a:hover {
  color: lightgray;
}

h1 {
  text-align: center;
  font-size: 5em;
  font-family: serif;
  color: rgb(30, 30, 30);
}

h2 {
  text-align: center;
  font-size: 3em;
  color: darkslategray;
  margin-bottom: 0px;
}

section {
  text-align: center;
  margin: 0px;
  padding: 0px;
  max-width: 800px;
  margin: auto;
  background-color: #5bb189;
  padding: 20px;
  margin-bottom: 16px;
  font-size: 1.2em;
  font-weight: 500;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

img {
  max-width: 100%;
  height: auto;
}

#about {
  text-align: center;
}

.experience {
  border-bottom: 1px solid #314f4f;
}

.experience-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* #experience ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  text-align: center;
} */

#connect ul {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  padding: 10px;
}
#connect a {
  color: blue;
}

#connect a:hover {
  color: purple;
  text-decoration: underline;
}
